.skillsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #0b132b;
  padding: 25px;
  border-radius: 15px;
}

.progress {
  background: #1c2541;
  height: 10px;
  border-radius: 20px;
  margin-top: 15px;
}

.progress span {
  display: block;
  height: 100%;
  background: #ff6b4a;
  border-radius: 20px;
}