.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #0b132b;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff6b4a;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ff6b4a;
}

.nav-btn {
  background: #ff6b4a;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
}